<div class="xl:w-[1200px] w-[390px] m-auto absolute top-[250px] px-3">
  <div class="p-[10px] bg-white rounded-[10px]">
    <div class="flex font-bold text-sm gap-12">
      <div class="flex items-center">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="21"
          height="20"
          viewBox="0 0 21 20"
          fill="none"
        >
          <circle
            cx="10.6641"
            cy="10"
            r="9"
            fill="white"
            stroke="#0075FF"
            stroke-width="2"
          />
          <circle cx="10.6641" cy="10" r="6" fill="#0075FF" />
        </svg>
        <span class="text-[#0075FF]">هتل داخلی</span>
      </div>
      <div class="flex items-center">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="21"
          height="20"
          viewBox="0 0 21 20"
          fill="none"
        >
          <circle
            cx="10.6641"
            cy="10"
            r="9"
            fill="white"
            stroke="#A4AEB5"
            stroke-width="2"
          />
        </svg>
        <span class="text-[#A4AEB5]">هتل خارجی</span>
      </div>
    </div>
    <div class=""></div>
    <div class=""></div>
    <div class=""></div>
  </div>
</div>
