<div class="xl:w-[1200px] w-full m-auto">
  <div class="bg-[#0075FF] xl:bg-transparent h-[236px] px-3">
    <div class="text-white font-bold text-lg text-right pt-[45px]">
      <span class="">رزرو اینترنتی هتل</span>
    </div>
    <div
      class="flex items-center justify-between text-base font-bold pt-[20px] xl:justify-start xl:gap-4"
    >
      <div class="hidden lg:flex">
        <img src="../../../../../assets/img/hotel 1.png" />
      </div>
      <div
        class="bg-[#2B475A] w-[100px] h-[40px] rounded-xl flex items-center justify-between px-2"
      >
        <span class="text-white">پرواز</span>
        <img
          class="h-[40px]"
          src="../../../../../assets/img/web_public_airplane-flight.svg"
          alt=""
        />
      </div>
      <div
        class="bg-[#2B475A] w-[100px] h-[40px] rounded-xl flex items-center justify-between px-2"
      >
        <span class="text-white">قطار</span>
        <img
          class="h-[40px]"
          src="../../../../../assets/img/web_public_train.svg"
          alt=""
        />
      </div>
      <div
        class="bg-white w-[100px] h-[40px] rounded-xl flex items-center justify-between px-2"
      >
        <span class="text-[#2B475A]">هتل</span>
        <img
          class="h-[40px]"
          src="../../../../../assets/img/web_public_hotel.svg"
          alt=""
        />
      </div>
    </div>
  </div>
</div>
