<div class="xl:w-[1200px] w-full m-auto">
  <div
    class="flex flex-col xl:flex-row pt-[100px] gap-4 items-center justify-around"
  >
    <div class="">
      <img
        class="w-[290px] h-[140px] xl:w-[307px] rounded-xl"
        _ngcontent-utravs-ssr-c4106185478=""
        src="https://dl.utravs.com/images/advertising/advertising-info-res.webp"
        alt="#"
        loading="lazy"
      />
    </div>
    <div class="">
      <img
        class="w-[290px] h-[140px] xl:w-[800px] rounded-xl"
        _ngcontent-utravs-ssr-c4106185478=""
        loading="lazy"
        src="https://dl.utravs.com/images/advertising/new-toure-Desktop.webp"
        alt="banner toure"
      />
    </div>
  </div>
</div>
